extends base

block content 
  p Hi #{firstName},
  p Forgot your password? Send a PATCH request with password and password confirm to #{url}
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Reset password
  p If you didn't forget your password then please ignore this email.
  p Good luck! Hope it works.